In [2]:
import numpy as np
import pandas as pd

In [3]:
apartments = "../datasets/apartments.csv"
apartments_df = pd.read_csv(apartments)
apartments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21501 entries, 0 to 21500
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    21501 non-null  object
 1   city                  21501 non-null  object
 2   type                  17104 non-null  object
 3   squareMeters          21501 non-null  float64
 4   rooms                 21501 non-null  float64
 5   floor                 17928 non-null  float64
 6   floorCount            21292 non-null  float64
 7   buildYear             18121 non-null  float64
 8   latitude              21501 non-null  float64
 9   longitude             21501 non-null  float64
 10  centreDistance        21501 non-null  float64
 11  poiCount              21501 non-null  float64
 12  schoolDistance        21490 non-null  float64
 13  clinicDistance        21438 non-null  float64
 14  postOfficeDistance    21481 non-null  float64
 15  kindergartenDistance  21482 non-null  float64
 16  restaurantDistance    21470 non-null  float64
 17  collegeDistance       20917 non-null  float64
 18  pharmacyDistance      21471 non-null  float64
 19  ownership             21501 non-null  object
 20  buildingMaterial      12709 non-null  object
 21  condition             5580 non-null   object
 22  hasParkingSpace       21501 non-null  object
 23  hasBalcony            21501 non-null  object
 24  hasElevator           20541 non-null  object
 25  hasSecurity           21501 non-null  object
 26  hasStorageRoom        21501 non-null  object
 27  price                 21501 non-null  int64
dtypes: float64(16), int64(1), object(11)
memory usage: 4.6+ MB

In [4]:
cleaned_df = apartments_df.drop(columns=["buildingMaterial", "condition"])
cleaned_df = cleaned_df[~cleaned_df.type.isnull()]
cleaned_df = cleaned_df[~cleaned_df.isna().any(axis=1)]

In [9]:
cleaned_df.shape

(11986, 26)

In [6]:
cleaned_df.id.isnull().any().sum()

0

In [7]:
for col in cleaned_df.columns:
    print(f"{col}: {cleaned_df[col].isnull().sum()}")

id: 0
city: 0
type: 0
squareMeters: 0
rooms: 0
floor: 0
floorCount: 0
buildYear: 0
latitude: 0
longitude: 0
centreDistance: 0
poiCount: 0
schoolDistance: 0
clinicDistance: 0
postOfficeDistance: 0
kindergartenDistance: 0
restaurantDistance: 0
collegeDistance: 0
pharmacyDistance: 0
ownership: 0
hasParkingSpace: 0
hasBalcony: 0
hasElevator: 0
hasSecurity: 0
hasStorageRoom: 0
price: 0

In [10]:
cleaned_df.to_csv("../datasets/cleaned_apartments.csv", index=False)