In [16]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('../datasets/cleaned_apartments.csv')
df.head()

,id,city,type,squareMeters,rooms,floor,floorCount,buildYear,latitude,longitude,...,restaurantDistance,collegeDistance,pharmacyDistance,ownership,hasParkingSpace,hasBalcony,hasElevator,hasSecurity,hasStorageRoom,price
0,811891f98a870dfd6e414374a0a85560,szczecin,blockOfFlats,47.00,2.0,6.0,12.0,1981.0,53.428544,14.552812,...,0.068,0.593,0.085,condominium,no,yes,yes,no,yes,449000
1,adaf636d0c44d8d9325bce42403eefee,szczecin,apartmentBuilding,88.22,3.0,1.0,2.0,2000.0,53.449093,14.516844,...,0.661,1.192,0.668,condominium,yes,yes,no,no,no,950000
2,74fef2ff7135bc70797a3fbfd7d44ed6,szczecin,blockOfFlats,33.31,1.0,1.0,4.0,1963.0,53.436100,14.541200,...,0.180,0.041,0.388,cooperative,yes,no,no,yes,yes,380000
3,77cc78c75b0d09bf84d6d3124a28803c,szczecin,blockOfFlats,56.00,3.0,7.0,7.0,2018.0,53.447465,14.557811,...,0.322,1.643,0.178,condominium,yes,yes,yes,yes,yes,799000
4,7d0c31d5409caab173571cce3dcdf702,szczecin,blockOfFlats,68.61,3.0,4.0,4.0,1997.0,53.456213,14.583222,...,0.071,0.786,0.304,condominium,no,yes,no,no,yes,599000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11986 entries, 0 to 11985
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    11986 non-null  object
 1   city                  11986 non-null  object
 2   type                  11986 non-null  object
 3   squareMeters          11986 non-null  float64
 4   rooms                 11986 non-null  float64
 5   floor                 11986 non-null  float64
 6   floorCount            11986 non-null  float64
 7   buildYear             11986 non-null  float64
 8   latitude              11986 non-null  float64
 9   longitude             11986 non-null  float64
 10  centreDistance        11986 non-null  float64
 11  poiCount              11986 non-null  float64
 12  schoolDistance        11986 non-null  float64
 13  clinicDistance        11986 non-null  float64
 14  postOfficeDistance    11986 non-null  float64
 15  kindergartenDistance  11986 non-null  float64
 16  restaurantDistance    11986 non-null  float64
 17  collegeDistance       11986 non-null  float64
 18  pharmacyDistance      11986 non-null  float64
 19  ownership             11986 non-null  object
 20  hasParkingSpace       11986 non-null  object
 21  hasBalcony            11986 non-null  object
 22  hasElevator           11986 non-null  object
 23  hasSecurity           11986 non-null  object
 24  hasStorageRoom        11986 non-null  object
 25  price                 11986 non-null  int64
dtypes: float64(16), int64(1), object(9)
memory usage: 2.4+ MB

In [5]:
for col in df.columns:
    if col == "id":
        continue
    # if string print the unique values
    if df[col].dtype == 'object':
        print(f"{col}: \t {df[col].unique()}")

city: 	 ['szczecin' 'gdynia' 'krakow' 'poznan' 'bialystok' 'gdansk' 'wroclaw'
 'radom' 'rzeszow' 'lodz' 'katowice' 'lublin' 'czestochowa' 'warszawa'
 'bydgoszcz']
type: 	 ['blockOfFlats' 'apartmentBuilding' 'tenement']
ownership: 	 ['condominium' 'cooperative' 'udziaÅ‚']
hasParkingSpace: 	 ['no' 'yes']
hasBalcony: 	 ['yes' 'no']
hasElevator: 	 ['yes' 'no']
hasSecurity: 	 ['no' 'yes']
hasStorageRoom: 	 ['yes' 'no']

In [9]:
df1 = df.drop(columns=['longitude', 'latitude', 'ownership'])
df1.head()

,id,city,type,squareMeters,rooms,floor,floorCount,buildYear,centreDistance,poiCount,...,kindergartenDistance,restaurantDistance,collegeDistance,pharmacyDistance,hasParkingSpace,hasBalcony,hasElevator,hasSecurity,hasStorageRoom,price
0,811891f98a870dfd6e414374a0a85560,szczecin,blockOfFlats,47.00,2.0,6.0,12.0,1981.0,0.79,67.0,...,0.245,0.068,0.593,0.085,no,yes,yes,no,yes,449000
1,adaf636d0c44d8d9325bce42403eefee,szczecin,apartmentBuilding,88.22,3.0,1.0,2.0,2000.0,4.09,0.0,...,0.676,0.661,1.192,0.668,yes,yes,no,no,no,950000
2,74fef2ff7135bc70797a3fbfd7d44ed6,szczecin,blockOfFlats,33.31,1.0,1.0,4.0,1963.0,1.93,39.0,...,0.089,0.180,0.041,0.388,yes,no,no,yes,yes,380000
3,77cc78c75b0d09bf84d6d3124a28803c,szczecin,blockOfFlats,56.00,3.0,7.0,7.0,2018.0,2.68,10.0,...,0.260,0.322,1.643,0.178,yes,yes,yes,yes,yes,799000
4,7d0c31d5409caab173571cce3dcdf702,szczecin,blockOfFlats,68.61,3.0,4.0,4.0,1997.0,3.94,7.0,...,0.930,0.071,0.786,0.304,no,yes,no,no,yes,599000

In [10]:
pois = ['school', 'clinic', 'postOffice', 'kindergarten', 'restaurant', 'college', 'pharmacy']
poiDistances = [poi + "Distance" for poi in pois]
for poi in pois:
    df1["has" + poi.capitalize()] = df1[poi + "Distance"].apply(lambda x: 1 if x <= 1 else 0)

df2 = df1.drop(columns=poiDistances)
df2.head()

,id,city,type,squareMeters,rooms,floor,floorCount,buildYear,centreDistance,poiCount,...,hasSecurity,hasStorageRoom,price,hasSchool,hasClinic,hasPostoffice,hasKindergarten,hasRestaurant,hasCollege,hasPharmacy
0,811891f98a870dfd6e414374a0a85560,szczecin,blockOfFlats,47.00,2.0,6.0,12.0,1981.0,0.79,67.0,...,no,yes,449000,1,1,1,1,1,1,1
1,adaf636d0c44d8d9325bce42403eefee,szczecin,apartmentBuilding,88.22,3.0,1.0,2.0,2000.0,4.09,0.0,...,no,no,950000,1,0,1,1,1,0,1
2,74fef2ff7135bc70797a3fbfd7d44ed6,szczecin,blockOfFlats,33.31,1.0,1.0,4.0,1963.0,1.93,39.0,...,yes,yes,380000,1,1,1,1,1,1,1
3,77cc78c75b0d09bf84d6d3124a28803c,szczecin,blockOfFlats,56.00,3.0,7.0,7.0,2018.0,2.68,10.0,...,yes,yes,799000,1,1,1,1,1,0,1
4,7d0c31d5409caab173571cce3dcdf702,szczecin,blockOfFlats,68.61,3.0,4.0,4.0,1997.0,3.94,7.0,...,no,yes,599000,1,0,1,1,1,1,1

In [11]:
bools = ["hasParkingSpace", "hasBalcony", "hasElevator", "hasSecurity", "hasStorageRoom"]
for col in bools:
    df2[col] = df2[col].apply(lambda x: 1 if x == "yes" else 0)
df2.head()

,id,city,type,squareMeters,rooms,floor,floorCount,buildYear,centreDistance,poiCount,...,hasSecurity,hasStorageRoom,price,hasSchool,hasClinic,hasPostoffice,hasKindergarten,hasRestaurant,hasCollege,hasPharmacy
0,811891f98a870dfd6e414374a0a85560,szczecin,blockOfFlats,47.00,2.0,6.0,12.0,1981.0,0.79,67.0,...,0,1,449000,1,1,1,1,1,1,1
1,adaf636d0c44d8d9325bce42403eefee,szczecin,apartmentBuilding,88.22,3.0,1.0,2.0,2000.0,4.09,0.0,...,0,0,950000,1,0,1,1,1,0,1
2,74fef2ff7135bc70797a3fbfd7d44ed6,szczecin,blockOfFlats,33.31,1.0,1.0,4.0,1963.0,1.93,39.0,...,1,1,380000,1,1,1,1,1,1,1
3,77cc78c75b0d09bf84d6d3124a28803c,szczecin,blockOfFlats,56.00,3.0,7.0,7.0,2018.0,2.68,10.0,...,1,1,799000,1,1,1,1,1,0,1
4,7d0c31d5409caab173571cce3dcdf702,szczecin,blockOfFlats,68.61,3.0,4.0,4.0,1997.0,3.94,7.0,...,0,1,599000,1,0,1,1,1,1,1

In [35]:
df2['age'] = 2025 - df2['buildYear']
df3 = df2.drop(columns=['buildYear'])
df3.head()

,id,city,type,squareMeters,rooms,floor,floorCount,centreDistance,poiCount,hasParkingSpace,...,hasStorageRoom,price,hasSchool,hasClinic,hasPostoffice,hasKindergarten,hasRestaurant,hasCollege,hasPharmacy,age
0,811891f98a870dfd6e414374a0a85560,szczecin,blockOfFlats,47.00,2.0,6.0,12.0,0.79,67.0,0,...,1,449000,1,1,1,1,1,1,1,44.0
1,adaf636d0c44d8d9325bce42403eefee,szczecin,apartmentBuilding,88.22,3.0,1.0,2.0,4.09,0.0,1,...,0,950000,1,0,1,1,1,0,1,25.0
2,74fef2ff7135bc70797a3fbfd7d44ed6,szczecin,blockOfFlats,33.31,1.0,1.0,4.0,1.93,39.0,1,...,1,380000,1,1,1,1,1,1,1,62.0
3,77cc78c75b0d09bf84d6d3124a28803c,szczecin,blockOfFlats,56.00,3.0,7.0,7.0,2.68,10.0,1,...,1,799000,1,1,1,1,1,0,1,7.0
4,7d0c31d5409caab173571cce3dcdf702,szczecin,blockOfFlats,68.61,3.0,4.0,4.0,3.94,7.0,0,...,1,599000,1,0,1,1,1,1,1,28.0

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11986 entries, 0 to 11985
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               11986 non-null  object
 1   city             11986 non-null  object
 2   type             11986 non-null  object
 3   squareMeters     11986 non-null  float64
 4   rooms            11986 non-null  float64
 5   floor            11986 non-null  float64
 6   floorCount       11986 non-null  float64
 7   buildYear        11986 non-null  float64
 8   centreDistance   11986 non-null  float64
 9   poiCount         11986 non-null  float64
 10  hasParkingSpace  11986 non-null  int64
 11  hasBalcony       11986 non-null  int64
 12  hasElevator      11986 non-null  int64
 13  hasSecurity      11986 non-null  int64
 14  hasStorageRoom   11986 non-null  int64
 15  price            11986 non-null  int64
 16  hasSchool        11986 non-null  int64
 17  hasClinic        11986 non-null  int64
 18  hasPostoffice    11986 non-null  int64
 19  hasKindergarten  11986 non-null  int64
 20  hasRestaurant    11986 non-null  int64
 21  hasCollege       11986 non-null  int64
 22  hasPharmacy      11986 non-null  int64
dtypes: float64(7), int64(13), object(3)
memory usage: 2.1+ MB

In [20]:
import joblib
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer

In [38]:
class PoiAndBoolPreprocessor(BaseEstimator, TransformerMixin):
    poi_list = [
        "school",
        "clinic",
        "postOffice",
        "kindergarten",
        "restaurant",
        "college",
        "pharmacy",
    ]
    bool_cols = [
        "hasParkingSpace",
        "hasBalcony",
        "hasElevator",
        "hasSecurity",
        "hasStorageRoom",
    ]
    drop_cols = ["latitude", "longitude", "ownership"]

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        X = X.copy()
        X = X.drop(columns=self.drop_cols)

        for poi in self.poi_list:
            dist_col = poi + "Distance"
            flag_col = "has" + poi.capitalize()
            X[flag_col] = X[dist_col].apply(lambda x: 1 if x <= 1 else 0)
        X = X.drop(columns=[poi + "Distance" for poi in self.poi_list])

        for col in self.bool_cols:
            X[col] = X[col].apply(lambda x: 1 if x == "yes" else 0)

        X['age'] = 2025 - X['buildYear']
        X = X.drop(columns=['buildYear'])

        return X

numeric_cols = [
    "squareMeters",
    "rooms",
    "floor",
    "floorCount",
    "centreDistance",
    "poiCount",
    "age",
]
bool_cols = [
    "hasParkingSpace",
    "hasBalcony",
    "hasElevator",
    "hasSecurity",
    "hasStorageRoom",
] + [
    f"has{poi.capitalize()}"
    for poi in [
        "school",
        "clinic",
        "postOffice",
        "kindergarten",
        "restaurant",
        "college",
        "pharmacy",
    ]
]
cat_cols = ["city", "type"]

In [42]:
preprocessor = Pipeline(
    [
        ("custom", PoiAndBoolPreprocessor()),
        ("cols", ColumnTransformer([
            ("num", Pipeline([("scale", StandardScaler())]), numeric_cols),
            ("bool", "passthrough", bool_cols),
            ("cat",  Pipeline([("ohe", OneHotEncoder())]), cat_cols),
        ]))
    ]
)

X_processed = preprocessor.fit_transform(df.drop(columns=["id", "price"]))

feature_names = preprocessor.named_steps["cols"].get_feature_names_out()
df_processed = pd.DataFrame(X_processed, columns=feature_names)

In [48]:
df_processed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11986 entries, 0 to 11985
Data columns (total 37 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   num__squareMeters            11986 non-null  float64
 1   num__rooms                   11986 non-null  float64
 2   num__floor                   11986 non-null  float64
 3   num__floorCount              11986 non-null  float64
 4   num__centreDistance          11986 non-null  float64
 5   num__poiCount                11986 non-null  float64
 6   num__age                     11986 non-null  float64
 7   bool__hasParkingSpace        11986 non-null  float64
 8   bool__hasBalcony             11986 non-null  float64
 9   bool__hasElevator            11986 non-null  float64
 10  bool__hasSecurity            11986 non-null  float64
 11  bool__hasStorageRoom         11986 non-null  float64
 12  bool__hasSchool              11986 non-null  float64
 13  bool__hasClinic              11986 non-null  float64
 14  bool__hasPostoffice          11986 non-null  float64
 15  bool__hasKindergarten        11986 non-null  float64
 16  bool__hasRestaurant          11986 non-null  float64
 17  bool__hasCollege             11986 non-null  float64
 18  bool__hasPharmacy            11986 non-null  float64
 19  cat__city_bialystok          11986 non-null  float64
 20  cat__city_bydgoszcz          11986 non-null  float64
 21  cat__city_czestochowa        11986 non-null  float64
 22  cat__city_gdansk             11986 non-null  float64
 23  cat__city_gdynia             11986 non-null  float64
 24  cat__city_katowice           11986 non-null  float64
 25  cat__city_krakow             11986 non-null  float64
 26  cat__city_lodz               11986 non-null  float64
 27  cat__city_lublin             11986 non-null  float64
 28  cat__city_poznan             11986 non-null  float64
 29  cat__city_radom              11986 non-null  float64
 30  cat__city_rzeszow            11986 non-null  float64
 31  cat__city_szczecin           11986 non-null  float64
 32  cat__city_warszawa           11986 non-null  float64
 33  cat__city_wroclaw            11986 non-null  float64
 34  cat__type_apartmentBuilding  11986 non-null  float64
 35  cat__type_blockOfFlats       11986 non-null  float64
 36  cat__type_tenement           11986 non-null  float64
dtypes: float64(37)
memory usage: 3.4 MB

In [47]:
df_processed.head()["num__age"]

0    0.152192
1   -0.428180
2    0.702018
3   -0.978006
4   -0.336543
Name: num__age, dtype: float64

In [49]:
joblib.dump(preprocessor, "../models/preprocessor.joblib")

['../models/preprocessor.joblib']